@{
    var kiemtra = ViewBag.kikiemtra as List<DanhSachThi>;
}

<div id="" class="thanh">
    <nav>

        <ul class="menu">
            <li>
                <div class="close-btn">
                    <i class="fas fa-times">

                    </i>
                </div>
            </li>
            <li class="menu-item">
                <a id="menu-item-1" asp-controller="BaiGiangs" asp-action="DeCuong">Đề cương</a>
            </li>
            <li class="menu-item">
                <a id="menu-item-2" asp-controller="BaiGiangs" asp-action="Lich">Lịch</a>
            </li>
            <li class="menu-item ">
                <a id="menu-item-3" asp-controller="BaiGiangs" asp-action="NoiDungChinh">Bài giảng</a>
            </li>
            <li class="menu-item">
                <a id="menu-item-4" asp-controller="BaiGiangs" asp-action="BaiTap">Bài tập</a>
            </li>
     @if (User.Identity.Name != null)
            {
                  <li class="menu-item">
                        <a id="menu-item-5" asp-area="" asp-controller="BaiGiangs" data-action="kythi" asp-action="KyThi">Kỳ thi</a>
                    </li>
            }
          

          
        </ul>
    </nav>
</div>