@model WebBaiGiang_CKC.Models.DanhSachThi

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<ol class="breadcrumb">

    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
    <li class="breadcrumb-item"><a asp-controller="DanhSachThi" asp-action="Index">Quản lý danh sách thi</a></li>
    <li class="breadcrumb-item"><a asp-controller="DanhSachThi" asp-action="Edit">Sửa </a></li>
</ol>
<h1 style="text-align: center;">SỬA DANH SÁCH THI</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DanhSachThiId" />
            <div class="form-group">
                <label asp-for="TaiKhoan.HoTen" class="control-label"></label>
                <select asp-for="TaiKhoanId" class="form-control" asp-items="ViewBag.TaiKhoanId"></select>
                <span asp-validation-for="TaiKhoanId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="KyKiemTra.TenKyKiemTra" class="control-label"></label>
                <select asp-for="KyKiemTraId" class="form-control" asp-items="ViewBag.KyKiemTraId"></select>
                <span asp-validation-for="KyKiemTraId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <br />
            <div class="form-group">
                <div style="float: left; padding-right:10px">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
                <a class="btn btn-secondary" asp-action="Index">Quay Lại</a>
            </div>
        </form>
    </div>
</div>
